


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 8% 0px 8%;
    padding-top: 10px;
    padding-bottom: 10px;
}

a{
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}

button{
    background-color: #469165;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    border: none;
    color: white;
}