.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 8% 0px 8%;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}

.btn-green {
    background-color: #469165;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    border: none;
    color: white;
}

header {
    background-image: url(assets/hero-bg.png);
    height: 674px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-white {
    background-color: white;
    padding: 4px 8px 4px 8px;
    border-radius: 40px;
}

.text-white{
    color: white;
}

.text-green{
    color: #469165;
}

.main-heading{
    font-size: 60px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 56px;
    letter-spacing: 4px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.hero-para{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.btn-group{
    display: flex;
    gap: 14px;
}

.hero-btn-1{
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-btn-2{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid white;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
}


/* card div */

.card-section{
    margin: 50px 8%;
}


.text-center{
    text-align: center;
}

.card-main-div{
    display: flex;
    gap: 16px;
    margin-top: 50px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 14px;
    box-shadow: 2px 2px lightslategray;
    padding: 12px;
}


.crad-icone{
    background-color: #F95555;
    padding: 10px;
    border-radius: 50px;
}